
.loginUser{
    background-color: white;
    top: 125px;
    width: 25%;
    height:25%;
    margin: 50px auto;
    /* margin in top and bottom will be 50px  */
    /* left and right auto  */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-color: black;
    border-style:initial;
    border-radius: 20px;
    background-color: rgb(17, 233, 222);
    line-height:50%;
}

.loginUser .inputGroup{
    width: 100%;
    position: relative;
    top: 15px;
}

.go_back{
    position: absolute;
    right: 175px;
    
}

p{
    text-align: center;
    margin-top: 10px;
    border-width: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-right: 17px;
}

#email2{
    position: relative;
    left: 45px;
    margin-bottom: 10px;
    width: 60%
}
#password{
    position: relative;
    left: 17px;
    width: 62.5%;
    height: 17%;
    margin: 10px 0;
    box-sizing: border-box;
}
button{
    position: relative;
    bottom: 5px;
    left: 135px;
    padding: 10px;
    background-color:aqua;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-spacing: 10px;
    border: none;
    text-align: justify;
}
button:hover{
    background-color: rgb(155, 6, 242)
}
input[type=password] {
    width:50%;

    box-sizing: border-box;  
}
input[type=text] {
    width:50%;

    box-sizing: border-box;  
}
.go_back{
   color: red;
   position: relative;
   left: 525px;
   bottom: 75px;
}