
.loginUser{
    background-color: white;
    width: 25%;
    margin: 50px auto;
    /* margin in top and bottom will be 50px  */
    /* left and right auto  */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-color: black;
    border-style:initial;
    border-radius: 70px;
    background-color: rgba(9, 146, 77, 0.982);
    line-height:50%;
}
.centered-header{
    text-align: center;
    width: 60%;             /* Set the desired width */ 
    margin: 0 auto;
    font-size: 40px;        /* Center the element horizontally */ 
    font-family:Monospace;
    color: rgb(52, 235, 134);
    position: relative;
    top: 40px;
  }
.loginUser .inputGroup{
    width: 100%;
    position: relative;
    
}
.inputGroup label{
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
   
}
.LoginForm{
    position: relative;
    top: 5px;
}
.loginUser{
    position: relative;
    top: 120px;
}
.LoginForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom:20px;
    
}
.go_back{
    position: absolute;
    color: rgb(3, 252, 140);
    right: 210px;
    font-size: 15px;
    top: 300px;
}
.LoginForm .inputGroup label {

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.LoginForm .inputGroup input{
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
}
.inputGroup button{
    margin-top: 10px;
}
.loginUser label{
  padding: 5px;
  text-align: center
}